- name: Installing nginx
  hosts: web
  become: yes
  tasks:
    - name: install nginx
      ansible.builtin.package:
        name: nginx
        state: present

    - name: starting nginx
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: yes


    - name: printing nginx is done
      ansible.builtin.debug:
        msg: "succesfully installed nginx"
